{% extends 'base.html' %}
{% block title %}Agenda{% endblock %}
{% block content %}
    <h2 class="mb-4 text-center">Agenda</h2>
    <div class="mb-3 text-end">
        <a href="{{ url_for('main.download_agenda_excel') }}" class="btn btn-success me-2">Download Excel</a>
        <a href="{{ url_for('main.download_agenda_odt') }}" class="btn btn-primary">Download ODT</a>
    </div>
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Customer Name</th>
                <th>Email</th>
                <th>Service</th>
                <th>Block</th>
                <th>Created At</th>
            </tr>
        </thead>
        <tbody>
            {% for res in reservations %}
            <tr>
                <td>{{ res.customer_name }}</td>
                <td>{{ res.customer_email }}</td>
                <td>{{ res.skill_id }}</td>
                <td>{{ res.block }}</td>
                <td>{{ res.created_at }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
